{% extends 'base.html.twig' %}

{% block content %}
    <div class="head mt-5">
        {% include 'header/header.html.twig' %}
        <div class="header-intro">{{ slogan }}</div>
        <button class="see-blogs"><a href="#">Scroll to blogs</a></button>
    </div>

    <div class="blog-snippet">
        {#            <svg class="icon icon-earth">#}
        {#                <use xlink:href="./assets/img/symbol-defs#icon-earth"></use>#}
        {#            </svg>#}
        <h2 class="latest">Latest posts</h2>
        <div class="blog-snippet-content">
            <img class="blog-snippet-img" src="./assets/img/background-img.jpg" alt="test" height="300px" width="500px">
            <div class="blog-snippet-text">
                <p class="date-published">21 August 2021</p>
                <h2 class="blog-title">Lorem ipsum dolor sit amet.</h2>
                <div class="short-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolore facilis id illum ipsam numquam repellat sapiente? Accusantium amet eos ex, in, minus porro quibusdam quisquam reprehenderit repudiandae temporibus vel!</div>
                <button class="read-more"><a class="read-more" href="#">Read more</a></button>
            </div>
        </div>
    </div>

    <div class="head mt-5">
        <ul>
            <li class="social-media">
                <a href="#" target="_blank" class="icons__link">
                    <svg class="social-media__icon">
                        <use xlink:href="./assets/SVG/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
