{% extends 'base.html.twig' %}

{% block content %}
    <div class="content-background">
{#        <div class="header page-head">#}
{#            {% include 'header/header.html.twig' %}#}
{#        </div>#}
        <div class="blogs transform">
            <div class="blog-content">
                <h1>Login</h1>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
