{% block header %}

    <div class="content">
        <div class="title">{{ title }}</div>
        <div class="nav-bar">
            <ul>
                <li class="nav-menu"><a href="#">Home</a></li>
                <li class="nav-menu"><a href="#">About</a></li>
            </ul>
        </div>
    </div>

{% endblock %}
