.blog-content {
    display: flex;
    flex-direction: column;
    margin: 2% 20%;
    background-color: #ffffff;
    padding: 2.5rem;
    box-shadow: 7px 7px 5px darkslategray;

    .blog-img {
        width: 50%;
    }

    .blog-text {

        .date-published {

        }
    }
}
