{% extends 'base.html.twig' %}

{#{% form_theme form 'foundation_5_layout.html.twig' %}#}

{% block content %}
    <div class="content-background">
        <div class="header page-head">
            {% include 'header/header.html.twig' %}
        </div>
        <div class="blogs transform">
            <div class="blog-content">
                <button class="btn btn-dark add-btn"><a class="btn-text" href="{{ path('blog_data') }}">Back to table</a></button>
{#                <div class="alert alert-success hidden" role="alert">#}
{#                    {{ add_blog.title }} SUCCESSFULLY ADDED!#}
{#                </div>#}
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
