{% extends 'base.html.twig' %}

{% block content %}

    <div class="head mt-5">
        {% include 'header/header.html.twig' %}
        <div class="about-us">
            <h2>About my website</h2>
            <p>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid blanditiis deleniti deserunt dolorum et eum facilis fugiat in ipsum, laboriosam minima non perferendis provident quae quia repudiandae sed soluta tempore.</span><span>Cumque facere ullam veniam voluptates! Consectetur ea eos eum fugiat impedit incidunt iusto necessitatibus rerum! Ab aliquid aspernatur corporis dolore dolorem eos, facere ipsum iusto minus non rem voluptate voluptatibus.</span><span>Ex, quibusdam quisquam? Ab ad aliquam architecto consequatur ea, eius enim eos iure maxime minus mollitia nemo officia pariatur quaerat quam quasi rem vel vero! Adipisci aliquid harum nostrum quam.</span><span>Corporis deserunt dignissimos enim eum hic incidunt itaque, iure placeat praesentium quia, quidem sed sequi, similique? Autem natus placeat similique vitae? Autem explicabo illum in laudantium nam nesciunt quis ratione!</span><span>Ab accusamus culpa delectus, excepturi fugit illum laborum natus neque, nisi, praesentium quasi quod? Cum, iste ut! Consequatur eum illum ipsa, ipsum labore, nam omnis praesentium quos temporibus ullam vitae!</span><span>Ab ad beatae cum dignissimos doloremque esse, facilis fugiat ipsa iste laboriosam natus, nemo nesciunt non officiis quas qui recusandae reiciendis rem sed sint tempora temporibus, totam ullam velit voluptatem.</span><span>Aliquid aut corporis debitis dicta error est eum in iure libero modi odit officiis, perferendis provident quasi quia quos recusandae repudiandae rerum saepe sapiente sit tempora temporibus totam vitae voluptates.</span><span>Accusamus, adipisci animi consectetur, corporis deserunt dolore ea earum est expedita id illo inventore ipsum iure obcaecati officia quidem velit? Ab amet assumenda, cumque natus numquam praesentium ratione! Eos, magnam.</span><span>Aliquid autem doloribus expedita nisi? Debitis delectus deleniti dignissimos dolore dolorum eos incidunt iure laudantium magni odit, omnis perspiciatis provident quae rem sapiente, sed sit suscipit tempora tempore velit. Perferendis?</span><span>Aliquam animi assumenda at beatae consectetur dolore et eveniet hic in itaque, magni molestiae, nam, nesciunt quidem recusandae vel velit voluptas voluptatem voluptates voluptatibus. Aspernatur aut expedita laborum quas voluptate.</span>
            </p>
        </div>
    </div>

{% endblock %}
