{% extends 'base.html.twig' %}

{% block content %}

    <div class="head">
        <div class="header page-head">
            {% include 'header/header.html.twig' %}
        </div>
        <div class="about-us">
            <h2 class="text-title">About the website</h2>
            <p class="text-content"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae commodi culpa dicta dolore dolorem dolorum ipsum maiores nesciunt non nostrum officiis, perferendis quam quidem rem sapiente sit sunt vero?</span><span>Culpa deserunt doloremque dolores doloribus eum nobis nostrum numquam, odit quis. A animi asperiores deleniti dolores dolorum, ipsum labore magnam molestiae numquam optio praesentium rem repellat saepe, sequi tempore voluptatem.</span><span>Aliquam aperiam beatae commodi culpa doloremque earum eius et expedita iste iure laboriosam minus, molestiae molestias nemo, neque praesentium quasi sapiente tempora temporibus velit vitae voluptatem voluptatum. Atque, ipsum, obcaecati?</span><span>In laborum nihil odit sapiente totam. Blanditiis distinctio esse est, excepturi fugiat illo numquam obcaecati sapiente voluptatum. Distinctio earum et eum, explicabo harum incidunt nostrum odio qui repudiandae voluptate voluptatibus?</span></p>
        </div>
    </div>
{% endblock %}
